/* global tags */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


html {
    /* creating a variable in CSS */
    --background-color:#414141;
    --gray-text: #525252;
    --font-size: 2rem;

}
body {
    font-family: 'Poppins', sans-serif;
    animation: movedown 2s ease-in-out;
    min-height: 100vh;
}

/* navigation  */

.fullnav {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 2;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-btn {
    position: relative;
    display: flex;
    justify-content:flex-start; 
    align-items: center;
    margin-left: 1rem;
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* border: 5px solid black; */
    flex: 1 1 40rem;

}

.aboutlogo {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#logo {
    max-width: 20rem;
}

.menubg {
    width: 50px;
    height: 6px;
    background:black;
    border-radius: 5px;
}

.menubg::before,
.menubg::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;;
}
.menubg::before {
    transform: translateY(-16px);
}

.menubg::after {
    transform: translateY(16px);
}

/* menu animation */
.menu-btn.open .menubg {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;

}

.menu-btn.open .menubg::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menubg::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

header nav {
    display: flex;
    min-height: 10vh;
    width: 100%;
    margin: auto;
    flex-direction: row;
    
   
}

.links.after {
    display: flex;
    min-height: 10vh;
    width: 100%;
    margin: auto;
    flex-direction: row;
}

header nav ul {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 40rem;
    align-items: center;
    margin: 2rem;
}
.navigation li {
    list-style: none;

}



.navigation a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    
}

.navigation a:hover{
    color: green;
}

#logo {
   
    flex: 1 1 2rem;
}

/* bio body  */


.bio {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: auto;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    min-height: 40vh;
    flex: 1 1 ; 
    min-height: 90vh;
    /* This allows my plant to poke out and will not make sides scrollable  */ 
    /* overflow: hidden; */
    
}

.biopic {
    flex: 1 1 20rem;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
    margin: 1rem;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    width: 100%;
    height: 100%;
    

    
  
}

#aboutbiopic1 {
    flex: 1 1 20rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#aboutbiopic2 {
    flex: 1 1 20rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#aboutbtn {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 10rem;
    text-align: center;
}

#aboutbtn:hover{
    background-color: green;
}

.biotext {
    flex: 1 1 20rem;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    justify-content: center;
    align-content: center;
    /* this pushes the biotext div to the front of the plant */
    z-index: 1;
    overflow: hidden;
 
  
}


.biotext h3 {
    margin: 2rem;
}

.biopic:hover {
    transform: scale(1.1);
}

/* .biotext:hover {
    transform: scale(1.1);
} */

.plant {
    position: absolute;
    bottom: 0;
    left: -20%;
    /* this pushes the plant to the back */
    z-index: -1; 
    animation: plant-entrance 3s ease-in-out 0.5s forwards, 
    plantshake 2.5s infinite ease-in-out alternate-reverse 2s;
    transform-origin: bottom;
    
        /* moves from left to original position  */
    transform: translate(-10%) rotateZ(-10deg) rotateX(-90deg);
        
  
    
}

.plant2 {
    left: 40%;
}

/* footer  */
.foot {
    background-color: black;
    display: flex;
    color: white;
    max-width: 100%;
    flex-direction: row;
    min-height: 10vh;
    

}

.footerhead {
    flex: 1 1 40rem;
    padding: 1rem;
    font-size: large;
}

.footerimages {
    display: flex;
    flex-direction: row;
    flex: 1 1 40rem;
    
}
#footericons {
    
    display: flex;
    flex-direction: row;
    flex: 1 1 40rem;
    justify-content: flex-end;
    list-style: none;
    margin: auto;
    padding: 1rem;
}

#footericons img {
    width: 3rem;
    height: 3rem;
    margin:1rem

}

/* animations */
@keyframes movedown {
    from {opacity: 0;}
    to {opacity:1;}
}

@keyframes plant-entrance {
    from {
        /* moves from left to original position  */
        transform: translate(-10%) rotateZ(-10deg) rotateX(-90deg);
        
    }
    to {
        transform: translate(0%) rotateZ(0deg) rotateX(0deg);

    }
}

/* this makes the plant shake from side to side  */
@keyframes plantshake {
    from {
        transform: rotateZ(-5deg);
    }

    to {
        transform:rotateZ(0deg) ;

    }
}
 
@media screen and (max-width: 932px) {

   
    nav  {
        display:flex;
        justify-content: center;
       align-items: center;
       margin-right: 2rem;
       flex-direction: row;
       flex-wrap: wrap;
    }

    nav ul {
       justify-content: center;
       align-items: center;
       margin-right: 2rem;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-evenly;
    }

    .biotext {
        margin: 0.5rem;
        width: 100vh;

        
    }

    .bio{
    
    }
   
    .foot {
        width: auto;
        object-fit: cover;
    }

    header nav {
        display: flex;
        min-height: 10vh;
        width: 100%;
        margin: auto;
        flex-direction: row;
        display: none;
       
    }

} 

@media screen and (max-width: 320px){
    #footericons {
    
        display: flex;
        flex-direction: row;
        flex: 1 1 5rem;
        justify-content: center;
        list-style: none;
        margin: auto;
        padding: 1rem;
        flex: wrap;
    }
    .footerhead {
        flex: 1 1 10rem;
        justify-content: center;
        padding: 1rem;
        font-size: large;
        text-align: center;
    }

    .foot {
        background-color: black;
        background-size: cover;
        display: flex;
        color: white;
        max-width: 100%;
        flex-direction: row;
        min-height: 10vh;
        min-width: 70vh;
        
    
    }
}


/* @media screen and (max-width: 842px) {
    .burger span{
        padding: 0.2rem 2rem;
        background: var(--gray-text) ;
        margin: 0.5rem 0rem;
        display: block;
        

    }

    .navigation , #logo {
        color: white;
        text-decoration: underline;
        font-size: var(--font-size);
        background: var(--background-color);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left:0 ;  
        flex-direction: column;
        align-items: center;
       
    }

     
    

} */